<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidmads.n2q">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="androidmads.n2q.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmailManagement.EmailNewActivity" />
        <activity android:name=".EmailManagement.EmailShowDetails" />
        <activity android:name=".SmsManagement.SmsNewActivity"/>
        <activity android:name=".SmsManagement.SmsShowDetails"/>
        <activity android:name=".ContactManagement.ContactPager"/>
        <activity android:name=".ContactManagement.ContactNewGroup"/>
        <activity android:name=".ContactManagement.ContactNewActivity"/>
        <activity android:name=".ContactManagement.ContactGroupDetails"/>

        <receiver android:name=".SmsManagement.SmsReceiver" android:exported="true" >
            <intent-filter android:priority="0000000000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmManagement.AlarmGmail"
            android:enabled="true"
            android:exported="true"
            />
        <receiver android:name=".AlarmManagement.AlarmSms"
            android:enabled="true"
            android:exported="true"
            />

    </application>

</manifest>